<?xml version="1.0"?>
<robot name="hydrogen"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="lidardx" value="${.127}"/>
  <xacro:property name="lidardz" value="${.203}"/>

  <!-- include the kobuki base -->
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <kobuki/>

  <joint name="hokuyo_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="${lidardx} 0 ${lidardz}" rpy="0 0 0 " />
    <parent link="base_link" />
    <child link="laser" />
  </joint>

  <link name="laser">
  </link>

</robot>
